@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header{
    font-size: 20px;
    font-family: "Arvo", serif;
    text-align: center;
    margin: 30px;
}
nav li{
    display: inline;
    padding: 30px;
    font-size: 25px;
}